.detail-wrap {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.top-margin {
    width: 100%;
    height: 1px;
    margin-top: 49px;
}


.title-truck-name {
    width: 90%;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    color: #1c1b1a;
    border-bottom: solid 1px lightgray;
}

.mt-top-50px {
    margin-top: 50px;
}

.detail-truck-description {
    width: 90%;
    margin-top: 10px;
}

.button-wrap {
    width: 90%;
    height: 30px;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
}

.update-delete-button {
    margin-right: 10px;
    color: lightgray;
    border: solid 1px lightgray;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ffffff;
}

.title-menus {
    width: 90%;
    height: 50px;
    margin-top: 80px;
    font-size: 24px;
    font-weight: 400;
}

.menus-wrap {
    width: 90%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.menu-plus-button {
    width: 200px;
    height: 240px;
    border: dotted 1px lightgray;
    color: lightgray;
    border-radius: 20px;
    text-align: center;
    line-height: 240px;
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: .2s;
}

.menu-plus-button:hover {
    transform: scale(1.02);
}

.truck-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-top: 40px;
}

.image-wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
}