.icon {
    width: 40px;
    height: 40px;
    margin: 30px 0px 0px 0px;
    color: gray;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #25539c; */
    border-radius: 20px;
}

svg {
    width: 1.5em;
    height: 1.5em;
}